[submodule "benchmark"]
	path = benchmark
	url = git@github.com:google/benchmark.git
[submodule "cnpy"]
	path = cnpy
	url = git@github.com:rogersce/cnpy.git
[submodule "googletest"]
	path = googletest
	url = git@github.com:google/googletest.git
